body{
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 80vh;
}

.grid {
    display: flex;
    flex:1;
}

.meow {
    display: flex;
    border: solid 1px black;
    box-sizing: border-box;
    flex: 1;
}