body{
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 50vh;
}

.grid {
    display: flex;
    flex:1;
}

.meow {
    display: flex;
    border: solid 1px black;
    flex: 1;
}